[Desktop Entry]
Name=Angband (Curses)
Exec=angband -mgcu
Icon=angband
Comment=A roguelike dungeon exploration game based on the books of J.R.R.Tolkien
Type=Application
Terminal=yes
Categories=Game;RolePlaying;
